[Unit]
Description=Consul Client
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/bin/consul agent \
  -datacenter=morsegasse \
  -data-dir=/opt/consul \
  -log-level=INFO \
  -bind='{{ GetPrivateInterfaces | include "network" "10.0.0.0/24" | attr "address" }}' \
  -client=0.0.0.0 \
  -retry-join=10.0.0.151 \
  -retry-join=10.0.0.152 \
  -retry-join=10.0.0.153
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
